<!DOCTYPE html>
<html>
<head>
  <title>Teacher Attendance System</title>
  <link rel="stylesheet" type="text/css" href="/View/Css/styles.css">
</head>

<body>

<div class="login-form">

  <h1>Teacher Login</h1>

  <form method="POST">

    <label>Email:</label>
    <input name="email" type="email">  

    <label>Password:</label>
    <input name="password" type="password">

    <button type="submit" formaction="/Controller/loginPageController.php">Login</button>

  </form>

</div>

</body>
</html>